<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>

	<appSettings>
		<add key="URLKPC" value="https://my.kaspersky.com/" />
		<add key="URLMail" value="https://temp-mail.ru/" />
		<add key="URL" value="https://market.yandex.by/" />
		<add key="Login" value="TutByTestAcc" />
		<add key="Password" value="Tester01" />
		<add key="PopServer" value="pop.gmail.com" />
		<add key="AccountPassword" value="Tester01" />
		<add key="AccountGmail" value="mykasper.test{0}@gmail.com" />
	</appSettings>

	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Logs\MyLogs.log"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="5MB"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d  %-5p %m%n"/>
			</layout>

		</appender>

		<!-- если не нужно, должно быть удалено-->
		<!-- <root>
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
    </root> -->

		<logger name="LOGGER">
			<appender-ref ref="LogFileAppender"/>
		</logger>
	</log4net>
</configuration>